html,
body {
  margin: 0;
  padding: 0;
  background-color: #193441;
  height: 100%;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  color: #fcfff5;
}
#mainHeader {
  -moz-box-shadow: inset 0px 0px 5px #000000;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 5px #000000;
  *zoom: 1;
  display: block;
  padding: 5px 25px;
  background-color: #3e606f;
}
#mainHeader:before,
#mainHeader:after {
  content: "";
  display: table;
}
#mainHeader:after {
  clear: both;
}
#mainHeader h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 40px;
  text-shadow: 1px 1px 2px #193441;
  display: block;
  width: 70%;
  position: relative;
  float: left;
  color: #91aa9d;
}
#mainHeader p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 1px #193441;
  display: block;
  position: relative;
  float: left;
  margin-left: 3px;
  color: #fcfff5;
}
#mainHeader a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 1px #3e606f;
  -moz-box-shadow: inset 0px 0px 5px #000000;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 5px #000000;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  position: relative;
  float: right;
  margin-top: 10px;
  text-decoration: none;
  padding: 8px;
  color: #fcfff5;
  background-color: #193441;
  font-weight: 800;
}
#mainHeader a:hover {
  color: #3e606f;
}
#grid {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  position: relative;
  width: 960px;
  margin: 20px auto;
  padding: 0;
  background-color: #3e606f;
}
#grid div {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  background-color: #91aa9d;
  margin: 0;
  padding: 5px;
}
#grid h3 {
  text-shadow: 1px 1px 3px #000000;
  padding: 5px;
}
#grid ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#grid li {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  background-color: #d1dbbd;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}
