///////////////////////////////////
////COMMON CSS SHARED BY ALL PAGES
///////////////////////////////////

////////////
//COLOURS
////////////
@black: #000;
@white: #fcfff5;
@light-green: #d1dbbd;
@med-green: #91aa9d;
@med-blue: #3e606f;
@dark-blue: #193441;
@gold: #9a620c;

@colourOne: #484a47;
@colourTwo: #cbd99e;
@colourThree: #ecebca;
@colourFour: #81afb5;
@colourFive: #353129;


////////////
////MIXINS
////////////
.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  border-radius: @radius;
}

.shadow (@hOffset: inset, @vOffset: 0px, @blur: 0px, @spread: 5px, @color: #000) {
  -moz-box-shadow: @hOffset @vOffset @blur @spread @color;
  -webkit-box-shadow: @hOffset @vOffset @blur @spread @color;
  box-shadow: @hOffset @vOffset @blur @spread @color;
}

.textShadow (@X: 1px, @Y: 1px, @blur: 3px, @color: #888) {
  text-shadow: @X @Y @blur @color;
}

.transparentBG (@color, @alpha) {
  background-color: rgba(red(@color), green(@color), blue(@color), @alpha);
}

.clearFix () {
  *zoom: 1; // For IE 6/7 (trigger hasLayout)

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear:both;
  }
}

////////////
//FONTS
////////////
.header (@size: 25px) {
  font-family: Verdana, Geneva, sans-serif;
  font-size: @size;
}

.paragraph (@size: 18px) {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: @size;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.codeText () {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: bold;
}

//////////////
////GLOBAL
//////////////
html, body {
  margin: 0;
  padding: 0;
  background-color: @colourOne;
  height: 100%;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  color: @white;
}

#mainHeader {
  .shadow();
  .clearFix();
  display: block;
  padding: 5px 25px;
  background-color: @med-blue;
}

#mainHeader h1 {
  .header(40px);
  .textShadow(1px, 1px, 2px, @dark-blue);
  display:block;
  width: 70%;
  position: relative;
  float: left;
  color: @colourFour;
}

#mainHeader p {
  .paragraph(20px);
  .textShadow(1px, 1px, 1px, @dark-blue);
  display: block;
  position: relative;
  float: left;
  margin-left: 3px;
  color: @white;
}

#mainHeader a {
  .paragraph(18px);
  .textShadow(1px, 1px, 1px, @med-blue);
  .shadow();
  .rounded-corners(5px);
  position: relative;
  float:right;
  margin-top: 10px;
  text-decoration: none;
  padding: 8px;
  color: @white;
  background-color: @dark-blue;
  font-weight: 800;
}

#mainHeader a:hover {
  color: @colourFour;
}

/////////////
///GRID
////////////
#grid {
  .rounded-corners(5px);
  position:relative;
  width: 960px;
  margin: 20px auto;
  padding: 0;
  background-color: @med-blue;
}

#grid div {
  .rounded-corners(5px);
  background-color: @colourFive;
  margin: 0;
  padding: 5px;
}

#grid h3 {
  .textShadow(1px, 1px, 3px, @black);
  padding: 5px;
}

#grid ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#grid li {
  .rounded-corners(5px);
  background-color: @colourFour;
  .codeText();
  margin: 5px;
  padding: 5px;
}